@import '../lib/fontawesome/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Pacifico|Poppins');

//font
$header-font: 36px 'Pacifico', cursive;
$body-font: 18px 'Poppins', sans-serif;

//colour
$white: #fff;
$off-white: #eaeaea;
$light-gray: #ccc;
$dark-gray: #636466;
$dark-blue: #395870;
$light-blue: #d1d9ff;
$reddish: #ff7a7a;
$yellow: #fffccc;
$light-pink: #ffebee;

@mixin box-shadow($hor, $vert, $blur, $spread, $colour) {
  -webkit-box-shadow: $hor $vert $blur $spread $colour;
  	 -moz-box-shadow: $hor $vert $blur $spread $colour;
  		  box-shadow: $hor $vert $blur $spread $colour;
}